@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
}

.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #df9f3e, #edbfffc4);
}
.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 18%;
    /* transform: translateY(-50%); */
    padding: 20px 40px;
    /* background-color: #ffffff2d; */
    background: linear-gradient(to top left #ce9453, #f39d9dc4);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2773a5 ;
    z-index: 2;
}
.login-header h1{
    font-size: 2.5rem;
    color: #212121;
    text-align: center;
}
.login-header p{
    font-size: 0.9rem;
    padding-top: 5px;
    color: #555;
    text-align: center;
    letter-spacing: 2px;
}

.login-body{
    margin: 20px 0;
}

.login-body p{
    margin: 10px 0;
}

.login-body p label{
    display: block;
    font-weight: bold;
}

.login-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}

.login-body p input[type="submit"]{
    background-color: #ff7b00;
    border: none;
    color: white;
    cursor: pointer;
}

.login-body p input[type="submit"]:hover{
    background-color: #ffae00;
}

.login-footer p{
    color: #555;
    text-align: center;
}

.login-footer p a{
    color: #d38117;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right , #ce81621f, #ffffff );
    position: absolute;
}

.c1{
    top: 100px;
    right: 40px;
}
.c2{
    bottom: 100px;
    left: 40px;
}

.c3{
    height: 50px;
    width: 50px;
    top: 100px;
    right: 220px;
}
.c4{
    height: 50px;
    width: 50px;
    bottom: 100px;
    left: 220px;
}